#links-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
}

#links-container a {
  color: #3B4252;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  width: 80px;
  height: 60px;
  background-color: #88C0D0;
  padding: 10.5px 0;
  border-radius: 6px;
}

#links-container a:hover {
  background-color: #5E81AC;
}

@media screen and (max-width: 400px) {
  #links-container {
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 20px;
  }
}