#projects-container h2 {
  font-size: 16pt;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 32px;
}

#projects-container hr {
  width: 84px;
  color: #8FBCBB
}

#projects-container a {
  display: block;
  text-decoration: none;
  font-size: 14pt;
  margin: 4px;
  color: #D8DEE9;
  cursor: pointer;
}

#projects-container a:hover {
  color: #C3C9D3
}
