#typer-container {
	font-family: 'Cutive mono', monospace;
}

#typer-language {
  text-decoration: underline;
}

#typer-cursor {
  visibility: hidden;
  animation: 500ms blink;
  animation-iteration-count: infinite;
}

.typer-br {
  display: none;
}

@media screen and (max-width: 450px) {
  .typer-br {
    display: block;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    visibility: visible;
  }
  10% {
    opacity: 1
  }
  50% {
    opacity: 1
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}