body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8c8c8;
    color: #09224c;
}

#main-banner {
    font-family: "Lato", sans-serif;
    background-color: #09224c;
    color: #c8c8c8;
    height: 100vh;
    display: flex;
    align-items: center;
}

#header-container {
    margin: auto;
    text-align: center;

    opacity: 1;

    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;

}

#header-container h1 {
    margin: 0;
    font-size: 96px;
}

#header-container h2 {
    margin: 0;
    font-size: 36px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content h3 {
    font-size: 24px;
    margin: 0;
    padding: 36px;
}

.content p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0 36px 36px 36px;
}

#down-arrow-container {
    width: 100%;
    position: fixed;
    bottom: 10px;
    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;
}

#down-arrow, #down-arrow-event-listener {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 8px;
    left: calc(50% - 15px);
}

#down-arrow-event-listener {
    z-index: 1;
}

#icon-credits {
    font-size: 8pt;
    text-align: right
}

hr {
    border: none;
    border-top: 1px solid #09224c
}

#examples button {
    width: 300px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 24px;
    background-color: #09224c;
    color: #c8c8c8
}

#examples button:hover {
    background-color: #263b5f;
}

#examples button:active {
    background-color: #a2a7af;
    color: #09224c;
    border: 2px solid #09224c
}

#examples input {
    font-size: 36px;
    padding: 12px;
    border: 0;
}

*:focus {
    outline: none;
}