body {
	font-family: sans-serif;
	text-align: center
}

textarea {
	background-color: #FFF;
	resize: none;
	margin-bottom: 16px;
	font-size: 12pt;
}

.letter-input {
	display: inline-block;
	margin: 2px;
}

.letter-input p {
	margin: 0;
	text-align: center;
}

.letter-input input {
	width: 36;
}

.sidebyside {
	width: 400px;
	background-color: #EEE;
	overflow: auto;
	display: inline-block;
}

#text {
	text-align: center
}